In [1]:
import datetime
import time
import urllib.request
import pandas as pd
from MCForecastTools import MCSimulation

In [2]:
def get_df_from_yahoo_finance (symbol): 

    end_date = datetime.datetime.now()
    end_date = int(round(end_date.timestamp())) * 1000  #<-- Convert datetime to milliseconds 
    end_date_str = str(end_date)
    end_date_str = end_date_str[:10]  #<-- This removes all but the last 10 millisecond values for the time which is format yahoo wants

    start_date_str = '345427200'
  

    ticker_dataframe = {}
    

    # Build Yahoo finance URL for the data request.
    
    yahoo_finance_url_with_symbol = ('https://query1.finance.yahoo.com/v7/finance/download/' + str(symbol)
                                     + '?period1=' + str(start_date_str) + '&period2=' + str(end_date_str)
                                     + '&interval=1d&events=history&includeAdjustedClose=true')

    url2 = urllib.request.urlopen(yahoo_finance_url_with_symbol) #request data (comes as CSV)
    
    ticker_dataframe = pd.read_csv(url2)  #convert CSV in memory from the Yahoo request to dataframe
    ticker_dataframe.insert(1, "Ticker", symbol)

    return (ticker_dataframe)

In [3]:
list_of_tickers_for_yahoo_data_dump = ['SPY', 'GLD', 'XLE', 'XLV', 'MVI-USD', 'NFTI-USD']   # <-- Add tickers here

tickers_and_data_df = pd.DataFrame({})

for ticker in list_of_tickers_for_yahoo_data_dump:
    
    single_ticker_df = get_df_from_yahoo_finance(ticker)
    tickers_and_data_df = pd.concat([tickers_and_data_df, single_ticker_df])

In [4]:
tickers_and_data_df.columns=[each_column .lower() for each_column in tickers_and_data_df.columns]

In [5]:
print (tickers_and_data_df)

           date    ticker        open        high         low       close  \
0    1993-01-29       SPY   43.968750   43.968750   43.750000   43.937500
1    1993-02-01       SPY   43.968750   44.250000   43.968750   44.250000
2    1993-02-02       SPY   44.218750   44.375000   44.125000   44.343750
3    1993-02-03       SPY   44.406250   44.843750   44.375000   44.812500
4    1993-02-04       SPY   44.968750   45.093750   44.468750   45.000000
..          ...       ...         ...         ...         ...         ...
518  2022-08-05  NFTI-USD  738.161987  788.641541  737.596436  788.641541
519  2022-08-06  NFTI-USD  788.643127  794.480591  772.313416  778.098694
520  2022-08-07  NFTI-USD  778.074158  790.022705  768.141907  777.318542
521  2022-08-08  NFTI-USD         NaN         NaN         NaN         NaN
522  2022-08-09  NFTI-USD  791.006470  793.645081  787.705200  788.164001

      adj close     volume
0     25.438091  1003200.0
1     25.619017   480500.0
2     25.673298   201300.0
3     25.944677   529400.0
4     26.053244   531500.0
..          ...        ...
518  788.641541      201.0
519  778.098694       59.0
520  777.318542       97.0
521         NaN        NaN
522  788.164001     2672.0

[24792 rows x 8 columns]

In [6]:
mvi_df = tickers_and_data_df.loc[tickers_and_data_df['ticker'] == 'MVI-USD'] 
print(mvi_df)

           date   ticker        open        high        low       close  \
0    2021-04-13  MVI-USD   98.627357   99.953712  97.227501   99.612236
1    2021-04-14  MVI-USD   99.903984  100.232513  90.536865   95.412590
2    2021-04-15  MVI-USD   95.423653  105.099709  93.283913  105.099709
3    2021-04-16  MVI-USD  105.017746  105.038216  95.061119   97.298744
4    2021-04-17  MVI-USD   97.341225  103.932014  93.138268   99.901405
..          ...      ...         ...         ...        ...         ...
479  2022-08-05  MVI-USD   44.107529   46.285950  43.798042   45.257107
480  2022-08-06  MVI-USD   45.257202   47.003944  44.993122   46.255154
481  2022-08-07  MVI-USD   46.253696   46.554981  44.326000   45.485641
482  2022-08-08  MVI-USD         NaN         NaN        NaN         NaN
483  2022-08-09  MVI-USD   45.775257   45.988258  45.627007   45.659714

      adj close     volume
0     99.612236  1029720.0
1     95.412590   573986.0
2    105.099709  1757154.0
3     97.298744   346543.0
4     99.901405   157922.0
..          ...        ...
479   45.257107    10969.0
480   46.255154    44130.0
481   45.485641    54191.0
482         NaN        NaN
483   45.659714    11110.0

[484 rows x 8 columns]

In [7]:
nfti_df = tickers_and_data_df.loc[tickers_and_data_df['ticker'] == 'NFTI-USD'] 

prices_df = pd.concat([nfti_df], axis=1, keys=["NFTI_USD"])#.lower("NFTI_USD")

#this is code I'm adding 
print(prices_df)

       NFTI_USD                                                            \
           date    ticker        open        high         low       close
0    2021-03-05  NFTI-USD  353.882202  411.688995  351.510986  353.560211
1    2021-03-06  NFTI-USD  353.563629  783.433350  304.075226  385.862671
2    2021-03-07  NFTI-USD  385.861115  424.322083  335.222687  354.860626
3    2021-03-08  NFTI-USD  354.844635  507.940033  349.266815  495.157410
4    2021-03-09  NFTI-USD  495.191803  533.454468  421.637085  527.504883
..          ...       ...         ...         ...         ...         ...
518  2022-08-05  NFTI-USD  738.161987  788.641541  737.596436  788.641541
519  2022-08-06  NFTI-USD  788.643127  794.480591  772.313416  778.098694
520  2022-08-07  NFTI-USD  778.074158  790.022705  768.141907  777.318542
521  2022-08-08  NFTI-USD         NaN         NaN         NaN         NaN
522  2022-08-09  NFTI-USD  791.006470  793.645081  787.705200  788.164001


      adj close    volume
0    353.560211   52225.0
1    385.862671  830522.0
2    354.860626   68658.0
3    495.157410  250975.0
4    527.504883  169623.0
..          ...       ...
518  788.641541     201.0
519  778.098694      59.0
520  777.318542      97.0
521         NaN       NaN
522  788.164001    2672.0

[523 rows x 8 columns]

In [8]:
prices_df

       NFTI_USD                                                            \
           date    ticker        open        high         low       close
0    2021-03-05  NFTI-USD  353.882202  411.688995  351.510986  353.560211
1    2021-03-06  NFTI-USD  353.563629  783.433350  304.075226  385.862671
2    2021-03-07  NFTI-USD  385.861115  424.322083  335.222687  354.860626
3    2021-03-08  NFTI-USD  354.844635  507.940033  349.266815  495.157410
4    2021-03-09  NFTI-USD  495.191803  533.454468  421.637085  527.504883
..          ...       ...         ...         ...         ...         ...
518  2022-08-05  NFTI-USD  738.161987  788.641541  737.596436  788.641541
519  2022-08-06  NFTI-USD  788.643127  794.480591  772.313416  778.098694
520  2022-08-07  NFTI-USD  778.074158  790.022705  768.141907  777.318542
521  2022-08-08  NFTI-USD         NaN         NaN         NaN         NaN
522  2022-08-09  NFTI-USD  791.006470  793.645081  787.705200  788.164001


      adj close    volume
0    353.560211   52225.0
1    385.862671  830522.0
2    354.860626   68658.0
3    495.157410  250975.0
4    527.504883  169623.0
..          ...       ...
518  788.641541     201.0
519  778.098694      59.0
520  777.318542      97.0
521         NaN       NaN
522  788.164001    2672.0

[523 rows x 8 columns]

In [11]:
MC_fiveyear = MCSimulation(
    portfolio_data = prices_df,
    weights = [.60,.40],
    num_simulation = 500,
    num_trading_days = 252*5
)

In [13]:
display(MC_fiveyear)

In [12]:
MC_fiveyear = MCSimulation(
    portfolio_data = mvi_df,
    weights = [.60,.40],
    num_simulation = 500,
    num_trading_days = 252*5
)

IndexError: Too many levels: Index has only 1 level, not 2

In [ ]:
mvi_df.describe()

mvi_df

In [ ]:
nfti_df.describe()